.root {
  height: 2000px;
  width: 2000px;
  background-color: aquamarine;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(blue, green);
}

.header-container {
  text-align: center;
  font-size: 50px;
  color: yellow;
}

.form-container {
  text-align: center;
}

.input-boxes {
  width: 300px;
  border-radius: 1px #ccc;
  border-radius: 5px;
}

#submit {
  color: blue;
}
